/Unaccessible/
.gitgnore
/MealStock/Authentication/Welcome.swift
/MealStock/Authentication/LogIn.swift
/MealStock/Authentication/SignUp.swift

/MealStock/Views/Testing Views/

/MealStock/Not used (maybe later)
