<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1jPlPkPMMrB5sXZlkyqr3U_Oxb1FxaC4</string>
	<key>GCM_SENDER_ID</key>
	<string>766418582239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jrk.MealStock-koncept-v1</string>
	<key>PROJECT_ID</key>
	<string>mealstock-v0dot1</string>
	<key>STORAGE_BUCKET</key>
	<string>mealstock-v0dot1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766418582239:ios:3cb6b221674ec98dd4c76a</string>
</dict>
</plist>